<!DOCTYPE html>
<html>
<head>
	<title>Team 35: Daylight Based Streetlighting</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>

	<style>
		body, html {
			height: 100%!important;
			width: 100%!important;
		}
	</style>

</head>
<body>

	<div class="container p-5">
		<div class="row">
			<div class="col text-center">
				<h1 class="text-primary">Team 35: Daylight Based Streetlighting</h1>
			</div>
		</div>
	</div>

	<div class="container h-75 w-100 bg-warning">
		<div class="row h-100">
			<div class="col-12 col-md-8 w-100 bg-primary">
				TEST
			</div>
			<div class="col-12 col-md-4">
				TEST
			</div>
		</div>
	</div>


{% block content %}

Replaceable Text

{% endblock %}


</body>
</html>