<!DOCTYPE html>
<html>
<head>
	<title>Team 35: Daylight Based Streetlighting</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<h1 class="text-primary">Team 35: Daylight Based Streetlighting</h1>
			</div>
		</div>
	</div>


{% block content %}

replace me

{% endblock %}


</body>
</html>