<!DOCTYPE html>
<html>
<head>
	<title>Team 35: Daylight Based Streetlighting</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="./static/styles.css">
	<script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
	<style>
		body, html {
			height: 100%!important;
			width: 100%!important;
		}
	</style>
</head>
<body>

	<div class="container p-5">
		<div class="row">
			<div class="col text-center">
				<h1 class="text-info"><b>Team 35: Daylight Based Streetlighting</b></h1>
			</div>
		</div>
		<div class="row mt-2">
		    <div class="col text-center">
		        <p>
		            This is the dashboard monitor for the streetlight deployed IIIT-H'sVindhya C4 Streetlight Control Box. All lights spanning the area marked by the diagonal from the THub office to the main gate are controlled by this automated system
		        </p>
		    </div>
		</div>
	</div>

{% block content %}

Replaceable Text

{% endblock %}


</body>